<h3>{{name}} (lv{{level}})</h3>
<ul class="mainStats">
	<li class="life"> life: {{life.current}} / {{life.max}} </li>
	<li class="attack"> attack: {{attack}} </li>
	<li class="def"> def: {{def}} </li>
	<li class="def"> xp: {{experience.current}} / {{experience.nextLevel}} </li>
</ul>
